<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles/main.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="top-container">
        <li><img src="images/today.png" alt="Today" height="20rem"><a href="/">Today</a></li>
        <li><img src="images/work.png" alt="Work" height="20rem"><a href="/work">Work</a></li>
    </nav>
    <div class="outside">
    <div class="container">
    <main>