<%- include("partials/header.ejs") %>

    <div class="heading">
        <h1>Work List</h1>
    </div>
    
        <% for(let i=0; i < locals.dataOfWork.length ; i++){ %>
            <ul>
                <div class="taskbox text-button">
                    <input type="checkbox" name="taskCompleted" label="taskCompleted">
                    <li><%= dataOfWork[i] %></li>
                </div> 
            </ul>
        <% } %>
        
        <form action="/work" method="POST">
            <div class="text-button">
            <input class="taskbox" type="text" name="work"  label="work" placeholder="Enter your work here" autocomplete="off">
            <button class="taskButton" type="submit">+</button>
            </div>
        </form>
        
   
    

<%- include("partials/footer.ejs") %>