body{
    padding:0;
    margin:0;
 
    background: linear-gradient(
    to top right,
    #219C90 0%,
    #219C90 50%,
    #E9B824 50%,
    #E9B824 100%);

    min-height:1000px;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
}

/* To Container */
.top-container{
    padding:3rem;
    font-family: 'Gabarito', cursive;
    font-weight: 900;
}

li{
    list-style: none;
}

nav li{
    display:inline;
    margin-left:2.5rem;
}

li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
}

li > a:hover{
    color:#f0f0f0;
}

/* Middle Container */
.outside{
    display:flex;
    justify-content: center;
}

.container{
    width: 60%;
    flex:0 1 30%;
    display:flex;
    flex-direction: column;
}

.heading{
    background-color:#CD5C08;
    padding:0.2rem;
    border-radius: 10px;
    margin-bottom:1rem;
    text-align: center;
    font-size:1rem;
    font-family: 'Gabarito', cursive;
    color:white;
}

.taskbox{
    padding:0.8rem;
    width:90%;
    background-color: #F5E8B7;
    border-radius: 10px;
    border:1px #CD5C08 solid;
    font-size:1.3rem;
    margin:auto;
    display:flex;
}

input:checked + li {
    text-decoration: line-through;
    text-decoration-color: #CD5C08;
}

.taskButton{
    border-radius:10px;
    background-color:#CD5C08;
    color:white;
    padding: 0.5rem 1rem;
    margin-top:5px;
    font-size:2rem;
    font-weight: bold;
    /* box-shadow: 2px 2px lightsalmon; */
}

.taskButton:hover{
    background-color:lightsalmon;
}

.text-button{
    text-align: center;
}

/* Bottom Container */
.bottom-container{
    padding:1rem;
    text-align:center; 
    margin:5rem auto 0;
    color:white;
}

/* Media Query - For responsiveness */
@media screen and (max-width:360px){
    nav li{
        display:block;
    }

    .taskbox{
        font-size:1rem;
    }
}

@media screen and (max-width:1200px){
    .container{
        min-width: 90%;
    }
}
